* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

body {
  /* background-image: url("../images/white-painted-wall-texture-background.jpg"); */
  background-size: cover;
}
.row {
  margin: 10px 0;
}

.main-heading {
  text-align: center;
  color: #1176d4;
}

.main-heading-ps {
  text-align: center;
  color: #015db4;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 5px;
}

.nav-bar {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.nav-buttons {
  padding: 10px 0px;
  text-align: center;
  width: 25%;
  max-width: 25%;
  background-color: #157aff;
  color: #ffffff;
  border-radius: 8px;
}

.nav-buttons:hover {
  background-color: #005de7;
  cursor: pointer;
}

.message-board {
  padding: 10px 5px;
  width: 600px;
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}

.message-display {
  margin: 0px 5px;
  display: inline-block;
  position: relative;
  /* background-color: #087be765; */
  background-color: #02336165;
  border-radius: 10px;
  padding: 10px;
}

.username-message-display {
  font-size: 18px;
  font-weight: bold;
  color: #100792;
}

.dots {
  font-size: 18px;
  font-weight: bold;
  color: #100792;
  margin: 0;
  margin-left: -4px;
  padding: 0;
}

.message-text-content {
  color: #ecf4fc;
  font-size: 18px;
}

.message-time-display {
  /* max-height: 26px; */
  display: flex;
  justify-content: space-between;
  color: #818181;
}

.delete-icon {
  position: absolute;
  padding: 5px;
  bottom: 0;
  right: 0;
  font-size: 20px;
  color: black;
}

.delete-icon:hover {
  font-size: 25px;
  cursor: pointer;
}

.userRow {
  display: flex;
  /* margin: 10px 0; */
  flex-direction: row-reverse;
}

.userMessage {
  background-color: #087be765;
  justify-self: flex-start;
}

.message-input-container,
.color-pick-container,
.username-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-area {
  margin: 5px 10px;
  font-size: 15px;
  padding: 4px 0px;
  border: 1px #000000 solid;
  opacity: 0.6;
}

#color-picker {
  padding: 0;
}

.input-area:focus {
  outline: 2px #157aff solid;
  border: 1px #157aff solid;
}

.send-buttons {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 0px;
  border: none;
  border-radius: 5px;
  background-color: #157aff;
  color: #ffffff;
}

.send-buttons:hover {
  cursor: pointer;
  background-color: #005de7;
}

#show-username-div {
  text-align: center;
  height: auto;
  padding: 5px;
}

.show-username-p {
  font-size: 25px;
  color: #1176d4;
}
