@media only screen and (max-width: 1000px) {
  @keyframes slideUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-60px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .row {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .invisable {
    visibility: hidden;
    max-height: 0px;
    animation: slideUp 1000ms ease-out backwards;
  }

  .visable {
    animation: slideDown 500ms ease-in forwards;
    visibility: visible;
    /* transition: max-height 1000mx ease; */
  }

  .nav-bar {
    width: 100%;
    /* background-color: #a74afdc5; */
    background-color: #6199ec;
    padding: 10px;
    /* -webkit-box-shadow: 0px -5px 0px 0px #a74afdc5;
    -moz-box-shadow: 0px -5px 0px 0px #a74afdc5;
    box-shadow: 0px -5px 0px 0px #a74afdc5; */
    -webkit-box-shadow: 0px -5px 0px 0px #6199ec;
    -moz-box-shadow: 0px -5px 0px 0px #6199ec;
    box-shadow: 0px -5px 0px 0px #6199ec;
    /* margin: 0px; */
    border-radius: 0px 0px 8px 8px;
  }

  [class*="col-"] {
    width: 100%;
    max-width: 100%;
    display: block;
    /* margin: 10px; */
  }

  .message-display {
    width: 75%;
  }

  .empty {
    display: none;
  }

  .main-heading-ps {
    padding: 10px 0px;
    text-align: center;
    /* background-color: #a13ffd; */
    background-color: #6199ec;
    color: #ffffff;
    border-radius: 8px;
  }

  .main-heading-ps:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 1001px) {
  .row {
    width: 100%;
    /* overflow: hidden; */
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
