* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

body {
  background-image: url("../images/white-painted-wall-texture-background.jpg");
  background-size: cover;
}

.main-heading {
  text-align: center;
  color: #1176d4;
}

.main-heading-ps {
  text-align: center;
  color: #015db4;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 5px;
}

.nav-bar {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.nav-buttons {
  padding: 10px 0px;
  text-align: center;
  width: 25%;
  max-width: 25%;
  background-color: #157aff;
  color: #ffffff;
  border-radius: 8px;
}

.nav-buttons:hover {
  background-color: #005de7;
  cursor: pointer;
}

.message-board {
  padding: 10px 5px;
  width: 600px;
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}

.message-display {
  margin: 0px 5px;
  display: block;
  background-color: #087be765;
  border-radius: 10px;
  padding: 10px;
}

.username-message-display {
  font-size: 18px;
  font-weight: bold;
  color: #100792;
}

.message-text-content {
  color: #ecf4fc;
  font-size: 18px;
}

.message-time-display {
  display: block;
  color: #818181;
}

.message-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-area {
  margin: 5px 10px;
  font-size: 15px;
  padding: 4px 0px;
  border: 1px #000000 solid;
  opacity: 0.6;
}

.input-area:focus {
  outline: 2px #157aff solid;
  border: 1px #157aff solid;
}

.send-buttons {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 0px;
  border: none;
  border-radius: 5px;
  background-color: #157aff;
  color: #ffffff;
}

.send-buttons:hover {
  cursor: pointer;
  background-color: #005de7;
}
