* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-heading {
  text-align: center;
}

.main-heading-ps {
  text-align: center;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar,
.visable {
  display: flex;
  gap: 5px;
}

.nav-buttons {
  padding: 10px 0px;
  text-align: center;
  width: 25%;
  max-width: 25%;
  background-color: #8a2be2;
  color: #ffffff;
  border-radius: 8px;
}

.nav-buttons:hover {
  background-color: #800080;
  cursor: pointer;
}

.message-board {
  width: 600px;
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}

.message-display {
  margin: 10px 5px;
  display: block;
  /* max-width: 350px; */
  background-color: rgba(148, 105, 158, 0.397);
  border-radius: 10px;
  padding: 10px;
}

.username-message-display {
  font-size: 18px;
  font-weight: bold;
  color: rgb(44, 7, 146);
}

.message-text-content {
  display: inline;
  color: rgb(160, 17, 160);
}

.message-time-display {
  display: block;
  color: rgb(129, 129, 129);
}

.message-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-area {
  margin: 5px 10px;
  font-size: 15px;
  padding: 4px 0px;
  border: 1px #000000 solid;
}

.input-area:focus {
  outline: 2px #800080 solid;
  border: 1px #800080 solid;
}

.send-buttons {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 0px;
  border: none;
  border-radius: 5px;
  background-color: #8a2be2;
  color: #ffffff;
}
